body
  padding 50px
  // font 14px "Lucida Grande", Helvetica, Arial, sans-serif

.container
  width: 640px
  margin 0 auto

.article-link
  text-align right

.article-menu
  text-align: center
.label-val 
  float: right
  text-align: right