body
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #41B350

.container
  width: 640px
  margin 0 auto

.article-menu 
  text-align right
  span 
  a
    color #5D5E58
  a:hover
    color: #41B350